*{
    box-sizing: border-box;
    margin: 0;
    font-family: Calibri;
    text-decoration: none;
}

html{
    overflow-y: scroll;
}

header{
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    background: #00b2ff;
    top: 0;
    left: 0;
}

header section{
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 10px;
}

.logo{
    height: 80%;
    width: 80px;
    vertical-align: middle;
    align-self: center;
    padding: 10px;
}

.search{
    border-radius: 20px;
    height: 50px;
    align-self: center;
    padding: 10px;
}

input.search{
    flex-grow: 2;
}

header ul{
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    text-decoration: none;
    list-style: none;
    justify-content: center;
}
header nav{
    background: rgb(0, 89, 255);
    height: 60%;
    border-radius: 30px;
    align-self: center;
    flex-grow: 2;
    width: auto;
}
header li{
    height: 100%;
    height: inherit;
    vertical-align: middle;
}
header ul li a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    transition: ease-in-out 0.5s;
    color: white;
    height: 60px;
    line-height: 40px;
    text-align: center;
}
header ul li a:hover{
    background: dodgerblue;
    font-size: 18px;
}

.topRight{
    display: flex;
    flex-direction: row-reverse;
    height: 100px;
}





main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.product{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.product *{
    padding: 10px;
}

main section img{
    height: 575px;
    width: 575px;
}

main section section img{
    height: 200px;
    width: 200px;
}

.secondary{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1.5;
    justify-content: space-evenly;
}

.product section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}





footer{
    background: #000025;
    display: flex;
    justify-content: space-around;

}

footer *{
    color: white;
    margin: 20px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

footer ul{
    list-style: none;
}

footer p{
    height: 100%;
}

footer a{
    transition: ease-in-out 0.25s;
}

footer a:hover{
    font-size: 18px;
}