body{
    background: white !important;
}

*{
    font-family: Calibri;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    box-sizing: border-box;
}

#text{
    background: aquamarine;
}

#list{
    background: darkgrey;
    width: 600px;
    height: 200px;
}

.list{
    display: inline-block;
}

img{
    background: darkorange;
    padding: 30px;
    margin: 20px;
    border: crimson 10px solid;
}

#google{
    outline: none;
    border: none;
    width: 100%;
}

ol, ul{
    margin-left: 20px;
    margin-right: 20px;
    text-shadow: 0 0 10px blue;
}

p{
    text-align: justify;
    text-decoration: underline;
    text-transform: capitalize;
}

label{
    width: 600px;
    margin: 5px;
    display: inline-block;
}

label label{
    width: 100px;
}

#m{
    position: absolute !important;
    left: 100px !important;
}

#f{
    position: absolute !important;
    left: 200px !important;
}

input, select{
    width: 200px;
    position: absolute;
    left: 100px;
}

.radio{
    width: auto !important;
    position: relative;
    left: auto;
}
